body{
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container{
    height: 500px;
    width: 500px;
    border: 5px solid;
    border-color: black;
    display: grid;
    margin: 25px;
}